/** biome-ignore-all lint/suspicious/noUnknownAtRules: Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}
